/*********** GERAL ***********/
body {
    background: hsl(218, 28%, 13%) !important;
    color: #fff !important;
    font-family: 'Raleway', sans-serif !important;
}

a:link {
    text-decoration: none;
}

a {
    color: #fff !important;
    font-size: 12px;
    font-weight: lighter;
}

header {
    background-color: hsl(219, 30%, 18%);
}

#intro {
    background: hsl(219, 30%, 18%) url('../images/bg-curvy-desktop.svg') no-repeat center 620px;
    background-size: 100% auto;
    height: 1090px;
}

h1 {
    font-size: 40px !important;
    font-weight: bold !important;
    line-height: 50px !important;
}

h2 {
    font-size: 36px !important;
    font-weight: bold !important;
}

h3 {
    font-size: 13px !important;
    font-weight: bold !important;
    margin-bottom: 5px !important;
}

h4 {
    font-size: 9px !important;
}

p {
    font-size: 3.1vh !important;
    font-weight: lighter;
}

.task p, .stay-productive p {
    font-size: 16px !important;
}

.email p {
    margin: 15px auto 25px;
    font-size: 12px !important;
}

.testimonial p {
    font-size: 10px !important;
    line-height: 1.5;
}

footer p {
    font-size: 15px;
}

.content {
    position: relative;
    display: block;
    padding-bottom: 30px;
}

.description {
    position: relative;
    top: -550px;
    margin: 0;
    justify-items: center;
}

.task-list {
    margin-top: -500px;
}

.stay-productive img {
    margin-left: 120px;
}

.stay-productive .text-area{
    margin: 100px 0 0 50px;
}

.slogan, .paragraph {
     text-align: center;
}

.btn-started {
    width: 330px;
    height: 55px;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: #fff !important;
    font-weight: bold !important;
    border-radius: 40px !important;
    margin-left: 0;
}

.task-title {
    margin-bottom: 10px;
}

.task {
    margin-top: 60px;
}

.email {
    position: relative;
    bottom: -160px;
    background-color: hsl(217, 28%, 15%) !important;
    padding: 30px !important;
    border-radius: 4px;
}

footer {
    background-color: hsl(216, 53%, 9%);
    padding: 30px;
}

ul {
    list-style: none;
    padding: 5px; 
}

li {
    font-size: 16px !important;
    margin-bottom: 10px;
}

.attribution { 
    font-size: 12px !important; 
    text-align: center; 
}

.attribution a {
    color: hsl(176, 68%, 64%) !important;
}

#quotes {
    margin-left: 8px;
}


/*********** MOBILE ***********/

@media (max-width: 375px) {
    body{
        background: hsl(218, 28%, 13%) !important;
    }

    h1 {
        font-size: 23px !important;
        font-weight: bold !important;
        line-height: 35px !important;
    }

    #intro {
        background: hsl(219, 30%, 18%) url('../images/bg-curvy-mobile.svg') no-repeat 0px 200px ;
        height: 340px;
    }

    #intro img {
        width: 310px;
        display: block;
        margin: auto;
    }

    .description {
        position: relative;
        top: -90px;
        justify-items: center;
    }

    .btn-started {
        width: 230px;
        height: 40px;
    }

    .task-list {
        margin-top: 0;
    }

    .stay-productive img {
        width: 300px;
        margin-top: 100px;
    }

    .stay-productive p, .stay-productive h2, .stay-productive a {
       text-align: initial;
    }

    .stay-productive a {
        color: hsl(176, 68%, 64%) !important;
        border-bottom: 1px solid hsl(176, 68%, 64%);
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
    
    #arrow {
        width: 20px;
        margin: -5px 0 0 5px;
    }

    .testimonials-list {
        margin-top: 100px;
    }

    .testimonial {
        background-color: hsl(219, 30%, 18%);
        margin-bottom: 20px;
        padding: 30px 20px 15px !important;
        border-radius: 4px;
    }

    .testimonial article {
        margin-left: 10px;
    }

    .testimonial .contact-info {
        margin-top: 30px;
        padding-left: 16px;
    }

    .testimonial img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    #input-email {
        border-radius: 40px;
        width: 230px;
        height: 40px;
        margin-bottom: 15px;
        margin-left: 5px;
    }

    footer #logo {
        margin-top: 160px;
    }

    footer .informations {
        margin-left: 5px; 
    }

    #location-icon {
        width: 11px;
        margin-top: 8px
    }

    #phone-icon {
        width: 11px;
        margin-top: 5px;
        margin-right: 18px;
    }

    h2 {
        font-size: 18px !important;
        font-weight: bold !important;
    }
    
    h3 {
        font-size: 13px !important;
        font-weight: bold !important;
        margin-bottom: 5px !important;
    }
    
    h4 {
        font-size: 9px !important;
    }
    
    p {
        font-size: 2.2vh !important;
        font-weight: lighter;
    }
    
    .task p, .stay-productive p {
        font-size: 13px !important;
    }
    
    .email p {
        margin: 15px auto 25px;
        font-size: 12px !important;
    }
    
    .testimonial p {
        font-size: 10px !important;
        line-height: 1.5;
    }
    
    footer p {
        font-size: 15px;
    }
    

}
